<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {{!-- <div style="margin-left: 11%; width:50%; height:0; padding-bottom:8%; float:left; background-color:#ededed; margin-right:4%; margin-bottom:1%"> --}}

    </div>
</body>
</html>