<html>

<body>

    <link rel="stylesheet" href="/static/css/article_news.css">


   <div class="article-page-continer">
    <div class="article_header">
        <img id="art_img" src="/static/images/img4.jpg">
        <div class="overlay"></div>
        <div class="art-header-text">
            <div id="art-h-label">FILM</div>
            <h1 style="font-size: 50px; margin-top: 12px; font-family: 'quicksand'; font-weight: 100;">Fact Check: Has
                'Kashmir Files' Been 'Shortlisted' for Oscar Awards?</h1>
            <h4 style="font-weight: 500; margin-top: -9px;">March 23, 2018</h4>
        </div>
    </div>

    <div class="article-container">

        <p>
            The Academy of Motion Picture Arts and Sciences (AMPAS) recently released a ‘Reminder List’ of
            productions eligible for the 95th Academy Awards. The list consists of 301 films which include Indian
            films like RRR, Kantara, The Kashmir Files, Gangubai Kathiawadi, Me Vasantrao, Tujhya Sathi Kahi Hi,
            Rocketry: The Nambi Effect, The Last Film Show, Vikrant Rona and Iravin Nizhal, among others.
            <br>
            <br>
            Media outlet Republic reported that The Kashmir Files had been shortlisted for the Oscars 2023 in the first
            list of Academy Awards. According to their reportage, The Kashmir Files is one of the five films that have
            been shortlisted from India as official entries into the Oscars 2023. They cited this claim to director
            Vivek Agnihotri. A reporter also says on air that the 44-page list which was released includes the names of
            the movies that have ‘been selected for the 95th Academy Awards’. The reporter adds that the inclusion of
            this film in the list is a big blow to the lobby which alleged that the film catered only to a certain
            section of society.
        </p>
        <div class="p-img-container">
            <img src="/static/images/img-1.jpg"  style="  max-width: 90%; height: auto;  object-fit: cover; position: relative;" alt="">     
        </div>
        
    </div>
   </div>
    


</body>

</html>