<html>

<body>

    <link rel="stylesheet" href="/static/css/footer_style.css" />
    <div id="footer_flex">
        <div id="footer">
            <div id="f_container1">
                <div id='f_brand'>
                     <img src="/static/images/ctg.svg" alt="Chattisgarhtopnews">
                </div>
                <p style="text-align: center; margin-bottom: 5%;font-size: 21px;font-family:'raleway';margin-top: -2%;">
                    Top News and Info of Chhattisgarh</p>

                <div id="details_container">
                    <p id="details"><img style="vertical-align: middle;" src="/static/images/email.svg" height="30px"
                            width="30px" alt="email"> chhattisgarhtopnews@gmail.com</p>
                    <p id="details"><img style="vertical-align: middle;" src="/static/images/phone.svg" height="30px"
                            width="30px" alt="email"> +91 7713555489</p>
                    <p id="details"><img style="vertical-align: middle;" src="/static/images/home.svg" height="30px"
                            width="30px" alt="email"> 403, 30 Ashoka Ratan, Raipur (CG)</p>
                </div>
                <p style="text-align: center; margin-top: 5%;font-size: 15px; font-family:'raleway';">
                    Copyright © 2008-2022 chhattisgarhtopnews.com</p>
            </div>


            <div id="f_container2">
                <form class="contact-form">
                <input type="text" id="name" name="name" placeholder="Name">
                <br>
                <input type="email" id="email" name="email" placeholder="Email">
                <br>
                <textarea name="message" placeholder="Message"></textarea>
                <br>
                <input type="submit" id="contact_submit" class="submit" value="Contact Us">
                </form>
            </div>
        <script src="../../public/js/contact.js">
        console.log("Hello Wrold")
        </script>
        </div>

    </div>
</body>

</html>