<html>

<body>

    <style>
        .divider{
        position: relative;
    right: 34%;
    /* top: 0; */
    /* bottom: 0; */
    height: 220%;
    float: right;
    /* max-height: 522px; */
    display: inline-flex;
    border-left: 1px solid #B0B0B0;

    }
    </style>

    <div class="divider"></div>
</body>
</html>