<html>

<head>

    <title>Article</title>
</head>

<body>
    {{>nav data=Details}}
    <link rel="stylesheet" href="/static/css/article_news.css">


    <div class="article-page-continer">
        <div class="article_header">
            <img id="art_img" src="/static/images/waterfall.webp">
            <div class="overlay"></div>
            <div class="art-header-text">
                <div id="art-h-label">POLITICS</div>
                <h1 style="font-size: 50px; margin-top: 12px; font-family: 'quicksand'; font-weight: 100;">
                    PM Modi suggests making police forces more sensitive </h1>
                <h4 style="font-weight: 500; margin-top: -9px;">January 22, 2023</h4>
            </div>
        </div>

        <div class="article-container">

            <p>
                New Delhi, January 22, 2023: Prime Minister Narendra Modi today emphasised on making police forces more
                sensitive and training them in emerging technologies.

                <br>
                <br>
                Addressing the Director Generals, Inspector Generals of Police and also chief of para military forces,
                Prime Minister Modi emphasised on importance of National Data Governance Framework for smoothening of
                data exchange across agencies.
                <br>
                <br>
                Modi also recommended repealing obsolete criminal laws and suggested prison reforms.
            </p>
            <div class="p-img-container">
                <img src="/static/images/modi.jfif"
                    style="  max-width: 90%; height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
            </div>
            <p>
                He also stressed for enhanced cooperation between state police and central agencies <br>
                <br>
                The 57th All-India Conference of DG, IG of Police was being held from January 20 to 22 in New Delhi.
                <br>
                <br>
                The Prime Minister suggested that while we should further leverage technological solutions like
                biometrics, there is also a need to further strengthen traditional policing mechanisms like foot patrols
                etc.
                <br>
                <br>
                He also suggested replicating the model of the DG, IG Conference at the state and district levels for
                discussing emerging challenges and evolving best practices among their teams.
                <br>
                <br>
                The Conference was concluded after Prime Minister distributed Police Medals for Distinguished Services.
                <br>
                <br>
                The Conference covered various aspects of policing and national security, including Counter Terrorism,
                Counter Insurgency and Cyber Security.
                <br>
            </p>


        </div>
    </div>


    {{>footer}}
</body>

</html>