<html>

<head>

    <title>Article</title>
</head>

<body>
    {{>nav data=Details}}
    <link rel="stylesheet" href="/static/css/article_news.css">


    <div class="article-page-continer">
        <div class="article_header">
            <img id="art_img" src="/static/images/waterfall.webp">
            <div class="overlay"></div>
            <div class="art-header-text">
                <div id="art-h-label">POLITICS</div>
                <h1 style="font-size: 50px; margin-top: 12px; font-family: 'quicksand'; font-weight: 100;">
                    Search committee for Ravi Shankar Univ VC gets 4 weeks extension </h1>
                <h4 style="font-weight: 500; margin-top: -9px;">January 21, 2023</h4>
            </div>
        </div>

        <div class="article-container">

            <p>
                Raipur, January 21, 2023: The search committee, which was constituted to suggest names for the vice
                chancellor of Pandit Ravi Shankar Shukla University has been given time of four more weeks.

                <br>
                <br>
                The time limit has been extended for four more weeks to suggest the names in a panel for the post of
                Vice Chancellor, Raj Bhawan sources said.
                <br>
                <br>
                Governor Anusiya Uikey has approved the extension of the four more weeks to the search committee, they said.
            </p>
            <div class="p-img-container">
                <img src="/static/images/au.jpg"
                    style="  max-width: 90%; height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
            </div>
            <p>
It was earlier given 6 weeks' time from December 13, 2022 to submit the names.                <br>
                <br>
               Under section 13 and sub-section 2 of the Chhattisgarh University Act 1973, the Governor had appointed the search committee for the Vice Chancellor for the Ravi Shankar University, the sources said.
                <br>
                <br>
                Former Vice Chancellor of Bundelkhand University Jhansi and Siddhartha University Dr Surendra Dubey have been appointed as the Chairman of the search committee.
                <br>
                <br>
                Former Vice Chancellor of the Chhattisgarh Ayush University Dr A T Dabke and the Director of the IIT Dharwad Prof Venkappaya R Desai have been made members of the committee.
            </p>


        </div>
    </div>


    {{>footer}}
</body>

</html>