<html>

<head>

    <title>Article</title>
</head>

<body>
    {{>nav data=Details}}
    <link rel="stylesheet" href="/static/css/article_news.css">


    <div class="article-page-continer">
        <div class="article_header">
            <img id="art_img" src="/static/images/waterfall.webp">
            <div class="overlay"></div>
            <div class="art-header-text">
                <div id="art-h-label">POLITICS</div>
                <h1 style="font-size: 50px; margin-top: 12px; font-family: 'quicksand'; font-weight: 100;">
                    CM Baghel dedicates Rs 69 Cr development works for Dharsiwa Assembly
                </h1>
                <h4 style="font-weight: 500; margin-top: -9px;">January 22, 2023</h4>
            </div>
        </div>

        <div class="article-container">

            <p>
                Raipur, January 22, 2023: Chhattisgarh Chief Minister Bhupesh Baghel today visited the Dharsiwa assembly
                constituency of Raipur district and interacted with the people and the leaders ahead of the year end
                assembly election.

                <br>
                <br>
                The Chief Minister also laid the foundation stones or dedicated various developmental works worth Rs 69
                crore in the presence of local Dharsiwa Congress MLA Anita Sharma and other leaders.
                <br>
                <br>
                Under the banner of Bhent-Mulaqat programme, the Chief Minister has been touring the entire state to
                take stock of the situation as well as reviewing the developmental works at the ground.
            </p>
            <div class="p-img-container">
                <img src="/static/images/baghel.jfif"
                    style="  max-width: 90%; height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
            </div>
            <p>
                Baghel today laid the foundation stone for 17 developmental works worth Rs 31.87 crore.
                <br>
                <br>
                Similarly the Chief Minister dedicated or inaugurated as many as 30 developmental works worth Rs 38.4
                crore.
                <br>
                <br>
                Among the works were constructions or strengthening of roads, improvement of bed and facilities of
                various hospitals and providing drinking water facilities to various villages among others.
            </p>


        </div>
    </div>


    {{>footer}}
</body>

</html>