<html>

<head>

    <title>Article</title>
</head>

<body>
    {{>nav data=Details}}
    <link rel="stylesheet" href="/static/css/article_news.css">


    <div class="article-page-continer">
        <div class="article_header">
            <img id="art_img" src="/static/images/waterfall.webp">
            <div class="overlay"></div>
            <div class="art-header-text">
                <div id="art-h-label">POLITICS</div>
                <h1 style="font-size: 50px; margin-top: 12px; font-family: 'quicksand'; font-weight: 100;">
                    CM Bhupesh Baghel reaches Int Cricket Stadium, greets people </h1>
                <h4 style="font-weight: 500; margin-top: -9px;">January 21, 2023</h4>
            </div>
        </div>

        <div class="article-container">

            <p>
                Raipur, January 21, 2023: Chhattisgarh Chief Minister Bhupesh Baghel today reached the International
                Cricket Stadium here and greeted the audience, who were present to enjoy the first ever international
                cricket match here at Raipur.

                <br>
                <br>
                The Chief Minister also took a round of the stadium and greeted the people.
                <br>
                Advisor to CM Pradeep Sharma, Urban Development Minister Dr Shiv Kumar Dehriya, Culture Minister
                Amarjeet Bhagat and Congress Rajya Sabha MP Rajeev Shukla among others had enjoyed the cricket match.
            </p>
            <div class="p-img-container">
                <img src="/static/images/baghel.jfif"
                    style="  max-width: 90%; height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
            </div>
            <p>
                India and New Zealand are playing at the Shaheed Veer Narayan International Cricket Stadium here today.
                <br>
                <br>
                Many people had alleged that artificial shortage was being created to sale the match ticket in a higher
                price.
                <br>
                <br>
                Many people were seen selling openly tickets in higher prices, which has created resentment among the
                people.
            </p>


        </div>
    </div>


    {{>footer}}
</body>

</html>