<html>

<head>

    <title>Article</title>
</head>

<body>
    {{>nav data=Details}}
    <link rel="stylesheet" href="/static/css/article_news.css">


    <div class="article-page-continer">
        <div class="article_header">
            <img id="art_img" src="/static/images/waterfall.webp">
            <div class="overlay"></div>
            <div class="art-header-text">
                <div id="art-h-label">POLITICS</div>
                <h1 style="font-size: 50px; margin-top: 12px; font-family: 'quicksand'; font-weight: 100;">Fact Check:
                    Has
                    CM Baghel gifted Rs 80 cr development works for Baloda Bazar</h1>
                <h4 style="font-weight: 500; margin-top: -9px;">January 23, 2023</h4>
            </div>
        </div>

        <div class="article-container">

            <p>
                Baloda Bazar, January 23, 2023: Chhattisgarh Chief Minister Bhupesh Baghel today gifted developmental
                works worth about Rs 80 crore to the Baloda Bazar assembly constituency under his state wide tour
                programme to reach out to all the 90 assembly segments before this year end election.
                <br>
                <br>
                The Chief Minister today laid the foundation stone for 71 developmental works worth Rs 58.77 crore.
                <br>
                </p>
                <div class="p-img-container">
                <img src="/static/images/baghel.jfif"
                    style="  max-width: 90%; height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
            </div>
            <p>
                Baghel also dedicated 64 developmental works with an estimated cost of Rs 20.85 crore exclusively for the Baloda Bazar assembly segment.
                <br>
                <br>
                The Chief Minister has been travelling to all the assembly segments to take stock of the situation ahead of the year end assembly poll.
                <br>
                <br>
                The Chief Minister is also reviewing the developmental works of the district while on tour.

            </p>
            

        </div>
    </div>


    {{>footer}}
</body>

</html>