<html>
<head>
    <title>film</title>
    <link rel="stylesheet" href="static/css/category_style.css">
</head>
<body>
    {{>nav data=Details}}
    <div class="article_header">
        <img id="art_img" src="static/images/movie.jpg">
        <div class="overlay"></div>
        <div class="art-header-text">
            <h1>
            FILM
            </h1>
            <!-- <h4 style="font-weight: 500; margin-top: -9px;">March 23, 2018</h4> -->
        </div>
    </div>

    {{>footer}}
</body>
</html>