<html>

<head>
    <title>ChhattisgarTopNews</title>
</head>

<body>
    <style>
        body {
            margin: 0;
        }
    </style>
    {{>nav data=Details}}
    {{>carousel owl=owl}}
    {{>marquee mqe=mqe}}
    {{!-- <h1 style="position: relative; max-width:60%; float:left">Hello World!!</h1> --}}
    {{>line}}
    {{>article1 article1=articlehome1}}
    {{>right_section bulletin_news = BulletinNews}}
    {{>3articles articles3=ThreeArticles}}
    {{>ad1}}
    {{>yt_container yt=yt}}
    {{>footer}}
</body>

</html>